# Smart Parking University
PROJECT_NAME=smart-campus-parking
ENVIRONMENT=local

# Main transactional database
POSTGRES_CORE_DB=parking_core
POSTGRES_CORE_USER=parking_user
POSTGRES_CORE_PASSWORD=parking_pass
POSTGRES_CORE_PORT=5432

# Biometric database
POSTGRES_BIOMETRICS_DB=parking_biometrics
POSTGRES_BIOMETRICS_USER=biometric_user
POSTGRES_BIOMETRICS_PASSWORD=biometric_pass
POSTGRES_BIOMETRICS_PORT=5433

# Object storage
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_BUCKET_RAW=parking-raw-images
MINIO_BUCKET_PROCESSED=parking-processed-images

# MQTT
MQTT_PORT=1883
MQTT_WS_PORT=9002

# Node-RED
NODERED_PORT=1880

# Backend mock services
API_GATEWAY_PORT=8000
AUTH_SERVICE_PORT=8001
UNIVERSITY_SERVICE_PORT=8002
VEHICLE_SERVICE_PORT=8003
PARKING_SERVICE_PORT=8004
FACE_SERVICE_PORT=8005
PLATE_SERVICE_PORT=8006
PAYMENT_SERVICE_PORT=8007
IOT_SERVICE_PORT=8008
AUDIT_SERVICE_PORT=8009
