# Global project settings
PROJECT_NAME=smart-campus-parking
ENVIRONMENT=local

# Core databases
POSTGRES_CORE_DB=parking_core
POSTGRES_CORE_USER=parking_user
POSTGRES_CORE_PASSWORD=parking_pass
POSTGRES_CORE_PORT=5432

POSTGRES_BIOMETRICS_DB=parking_biometrics
POSTGRES_BIOMETRICS_USER=biometric_user
POSTGRES_BIOMETRICS_PASSWORD=biometric_pass
POSTGRES_BIOMETRICS_PORT=5433

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_BUCKET_RAW=parking-raw-images
MINIO_BUCKET_PROCESSED=parking-processed-images

# MQTT
MQTT_PORT=1883
MQTT_WS_PORT=9002

# Node-RED
NODERED_PORT=1880

# Service ports
API_GATEWAY_PORT=8000
AUTH_SERVICE_PORT=8001
IDENTITY_SERVICE_PORT=8002
PARKING_SESSION_SERVICE_PORT=8003
PAYMENT_SERVICE_PORT=8004
FACIAL_RECOGNITION_SERVICE_PORT=8005
PLATE_RECOGNITION_SERVICE_PORT=8006
LIVENESS_SERVICE_PORT=8007
IOT_SERVICE_PORT=8008
MEDIA_SERVICE_PORT=8009
